
  .table-container {
    max-width: 1000px;
    /* Adjust as needed */
    margin: 0 auto;
    /* Center the table horizontally */
    border: 1px solid #ccc;
    /* Border for the container */
    border-radius: 8px;
    /* Rounded corners for aesthetic */
    overflow: hidden;
    /* Ensure contents do not overflow */
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    /* Ensure cells do not have spacing */
  }


  .table th {
    background-color: rgb(212, 209, 209);
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .table td {
    font-size: 16px;
    padding: 12px;
    text-align: center;
    border-top: 1px solid #ccc;
    /* Border between rows */
    position: relative;
    /* Position for the icon */
  }

  .remove-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
    font-size: 24px;
  }

  .containerconc {
    max-width: 800px;
    /* Increased max-width */
    margin: 20px auto;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 80px;
  }

  .contact {
    font-family: Arial, sans-serif;
  }

  .heading2 {
    text-align: center;
    margin-top: 69px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    border: white;
  }

  .inputbox {
    width: 50%;
    /* Adjusted width for better spacing */
    margin-bottom: 15px;
  }

  .inputname,
  .textname {
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 0px;
  }

  input[type="text"],
  textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ff0000;
    border-radius: 4px;
  }

  textarea {
    resize: vertical;
    /* Allow vertical resizing */
  }

  input[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    letter-spacing: 0.1rem !important;
    transition: all 0.2s linear !important;
  }

  @media (max-width: 768px) {
    .inputbox {
      width: 100%;
      /* Full width on smaller screens */
    }
    .containerconc{
      width: 80%;
    }
  }
